<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="KladdeConnectionString"         
         connectionString="
         Server=DESKTOP-9PL9T4D\SQLEXPRESS;
         Database=Schießsportkladde;
         Trusted_Connection=true;"
    providerName= "System.Data.SqlClient"/>
  </connectionStrings>
</configuration>